.centralizar-form
{
    width: 700px;
	text-align: left;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-top: 60px;
    
}

.centralizar-texto
{
    width: 700px;
	text-align: center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-top: 60px;
}

.barra-superior
{
    font-size: 30px;
    border-bottom: 1px solid;
    margin-bottom: 20px;
}

.divTable
{
    width: 500px;
    margin-left: 120px;
 
    
}

#buttonAddFunc
{
    float: left;
    
}

.tabela tr td:nth-child(1){
    width:30%;
}

#someid

.jumbotron{

	width: 400px;
	text-align: center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;

}

h3{

	text-align: center;
	font-family: "ff-meta-web-pro-1", "ff-meta-web-pro-2", Arial, "Helvetica Neue", sans-serif;
	font-size: 50px;
}
h4{
	text-align: center;
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-size: 70px;

}
.img-circle{
	width: 600px;
	height:500px;
	display: block;
	margin: 0 auto;

}
#botao{
	font-size: 140%;
	position: relative;
}

#loginForm{

	width: 700px;
	text-align: center;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;

}
.negrito{
	font-weight:bold;
}