<!DOCTYPE HTML>
<html lang="pt-br" ng-app="folhaPagamento">
 <head>
 <meta charset="UTF-8">
 <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" href="css/styles.css">
 <script src="../node_modules/angular/angular.js"></script> 
 <script src="js/app.js"></script>
 <script src="js/Services/funcionarioServices.js"></script>
 <script src="js/Controllers/updateFuncionarioController.js"></script>
 
 <title>Atualização de Funcionários</title>
       
 </head>
 <body ng-controller="updateFuncionarioController">
 <div class="centralizar-form">
  <div ng-show="funcionarioForm.$dirty && funcionarioForm.$invalid" class="alert alert-danger">
       Preencha os campos
  </div>
   
  <div ng-show="message!=null" class="alert alert-success">
      {{message}}
  </div>
 <form name="funcionarioForm">
 <label for="Titulo" class="centralizar-texto">Cadastro de Funcionários</label>
  <div class="form-group">
  <label for="Nome">Nome:</label>
  <input type="text" class="form-control" ng-required="true" ng-model="funcionario.nome" />
  </div>
   <div class="form-group">
  <label for="Endereço">Endereço:</label>
  <input type="text" class="form-control" ng-required="true" ng-model="funcionario.endereco" />
  </div>
  <div class="form-group">
  <label for="Cidade">Cidade:</label>
  <input type="text" class="form-control" ng-required="true" ng-model="funcionario.cidade" />
  </div>
   <div class="form-group">
  <label for="Estado">Estado:</label>
  <input type="text" class="form-control" ng-required="true" ng-model="funcionario.estado" />
  </div>
   <div class="form-group">
  <label for="usr">Bairro:</label>
  <input type="text" class="form-control" ng-required="true" ng-model="funcionario.bairro" />
  </div>
   <div class="form-group">
  <label for="Dependentes">Dependentes:</label>
  <input type="text" class="form-control" ng-required="true" ng-model="funcionario.dependentes" />
  </div>
   <div class="form-group">
  <label for="Salario">Salário:</label>
  <input type="text" class="form-control" ng-required="true" ng-model="funcionario.salario" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" />
  </div> 
    <input ng-click="atualizarFuncionario(funcionario)" ng-disabled="funcionarioForm.$invalid" class="btn btn-primary" type="button" value="Atualizar"/>
     <input ng-click="voltarPagina()"  class="btn btn-primary" type="button" value="Voltar"/>
     
   </form>
 
   
  
<div>
</body> 
</html>